beautifulsoup4==4.5.1
bs4==0.0.1
click==6.6
dateparser==0.5.0
dominate==2.3.0
Flask==0.11.1
Flask-Bootstrap==3.3.7.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
googlemaps==2.4.4
itsdangerous==0.24
jdatetime==1.8.1
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
PySocks==1.5.6
python-dateutil==2.6.0
pytz==2016.7
regex==2016.11.21
requests==2.11.1
ruamel.yaml==0.13.0
six==1.10.0
SQLAlchemy==1.1.4
typing==3.5.2.2
tzlocal==1.3
umalqurra==0.2
visitor==0.1.3
Werkzeug==0.11.11
WTForms==2.1
